<!DOCTYPE HTML>
<html>
 <head>
     <meta charset="utf-8">
   <title>New article</title>
 </head>
 <body>
  <form action="article/show_sections/" id="form">
   <p>Article name:<input name="title" id="title">
       <br>Content-level: <select name="content_level" id="content_level">
           <option value="0%">0%</option>
           <option value="25%">25%</option>
           <option value="50%">50%</option>
           <option value="75%">75%</option>
           <option value="100%">100%</option>
       </select>
   <p><input type="submit" id="submit" value="Divide"></p>
  </form>

 </body>
</html>
