beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
django-annoying==0.10.3
django-extensions==1.9.0
djangorestframework==3.6.4
idna==2.6
lxml==3.8.0
nltk==3.4.5
pytz==2017.2
requests==2.18.4
six==1.10.0
urllib3==1.22
